html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #f7f7f9;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

#toolbar {
  display: flex;
  height: 48px;
  justify-content: space-between;
}

#logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #6070ff;
  display: flex;
  padding: 10px;
  align-items: center;
  text-decoration: none;
}

#menu-bars-container {
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.menu-bar {
  width: 35px;
  height: 5px;
  background-color: #6070ff;
  margin: 6px 0;
}

#headline-container {
  margin-top: 48px;
  padding: 0 20px;
  height: 604px;
  width: 375px;
  background-image: url('images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 0 0 0 90px;
}

.headline-header {
  margin: 0;
  padding: 0;
  height: 260px;
  width: 100%;
  max-width: 355px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  color: #172b4d;
  display: flex;
  align-items: flex-end;
}

.headline-text {
  margin: 10px 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  max-width: 355px;
  overflow: auto;
  color: #344563;
}

#connect {
  margin: 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-transform: uppercase;
}

#social-icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.icon {
  color: #505f79;
  margin-right: 12px;
}

#works {
  display: grid;
  gap: 50px;
  list-style-type: none;
}

.work-card {
  grid-column: 1;
  background: #fff;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  width: 327px;
  height: 552px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.work-card > h2 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.work-card > .experience {
  list-style-type: none;
  padding: 6px 0;
  margin: 0;
  display: flex;
  gap: 12px;
}

.work-card > .experience > li {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.work-card > .experience > li:first-child {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #344563;
}

.work-card > span {
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.work-card > .technologies {
  list-style-type: none;
  padding: 3px 0;
  margin: 0;
  display: flex;
}

.work-card > .technologies > li {
  background: #ebebff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 4px 12px;
  margin-right: 8px;
}

#button-container {
  width: 100%;
  padding: 12px 0;
}

.btn {
  box-sizing: border-box;
  color: #396df2;
  border: 1px solid #6070ff;
  background: #fff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 12px;
}

.btn > a {
  text-decoration: none;
  color: #396df2;
}
