html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #f7f7f9;
}

/*
===========================
HEADER SECTION
*/

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

#toolbar {
  display: flex;
  height: 48px;
  justify-content: space-between;
}

#logo {
  font-size: 18px;
  font-weight: 700;
  color: #6070ff;
  display: flex;
  padding: 10px;
  align-items: center;
  text-decoration: none;
}

#logo:hover {
  animation: flip 1s linear;
}

@keyframes flip {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(360deg);
  }
}

#menu-bars-container {
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.menu-bar {
  width: 20px;
  height: 2px;
  background-color: #6070ff;
  margin: 6px 0;
}

/*
===========================
HEADLINE SECTION
*/

#headline-container {
  box-sizing: border-box;
  margin: 48px 0 0 0;
  padding: 114px 24px 0 24px;
  min-height: 626px;
  height: 100%;
  min-width: 375px;
  width: 100%;
  background-image: url('images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 0 90px;
}

#headline {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 12px;
}

.header {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 355px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  color: #172b4d;
  display: flex;
  align-items: flex-end;
}

.text {
  margin: 10px 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  max-width: 355px;
  overflow: auto;
  color: #344563;
}

#connect {
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-transform: uppercase;
}

#social-icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.icon,
.icon > a {
  color: #505f79;
  margin-right: 12px;
  font-size: 24px;
}

/*
===========================
WORKS SECTION
*/

#works {
  display: grid;
  margin: 0;
  padding: 114px 24px;
  gap: 50px;
  list-style-type: none;
  justify-content: center;
}

.work-card {
  grid-column: 1;
  background: #fff;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  width: 327px;
  height: 552px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.work-card > h2 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.work-card > .experience {
  list-style-type: none;
  padding: 6px 0;
  margin: 0;
  display: flex;
  gap: 12px;
}

.work-card > .experience > li {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.experience > li:first-child {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #344563;
}

.work-card > p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.work-card > .technologies {
  list-style-type: none;
  padding: 3px 0;
  margin: 0;
  display: flex;
}

.work-card > .technologies > li {
  background: #ebebff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 4px 12px;
  margin-right: 8px;
}

#button-container {
  width: 100%;
  padding: 12px 0;
}

.btn {
  box-sizing: border-box;
  color: #396df2;
  border: 1px solid #6070ff;
  background: #fff;
  border-radius: 8px;
  width: max-content;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 12px;
}

.btn > a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease-out;
}

.btn:hover {
  color: #fff;
  background: #6070ff;
}

.btn:active {
  background: #2230d2;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border: 1px solid #fff;
}

/*
===========================
ABOUT SECTION
*/

#about-container {
  box-sizing: border-box;
  margin: 0;
  padding: 114px 24px 0 24px;
  width: 100%;
  min-width: 375px;
  height: 100%;
  background: #fff;
  border-radius: 0 90px 0 0;
}

#about {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 12px;
}

#categories-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 114px;
}

#categories {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 12px;
}

#categories-item {
  box-sizing: border-box;
  min-width: 327px;
  width: 100%;
  height: 100%;
  min-height: 72px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  color: #000;
  padding: 24px 12px;
}

#categories-item > .fa-solid {
  color: #727e93;
}

.bottom-border {
  border-bottom: 1px solid #e3e5e9;
}

#item-details {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 12px;
}

.detail {
  box-sizing: border-box;
  min-width: 303px;
  width: 100%;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.detail > img {
  object-fit: contain;
  mix-blend-mode: multiply;
  padding-right: 16px;
}

/*
===========================
CONTACT FORM SECTION
*/

#contact-form-container {
  margin: 0;
  padding: 0;
  background: #fff;
}

#contact-form-container-ul {
  list-style: none;
  margin: 0;
  padding: 80px 24px;
  box-sizing: border-box;
  min-height: 779px;
  height: 100%;
  min-width: 327px;
  width: 100%;
  background: #6070ff;
  background-image: url('images/background-contact-form.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  border-radius: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 28px;
}

#contact-form-container-ul > li {
  width: 100%;
}

#contact-form-header {
  margin: 0;
  height: 56px;
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-align: center;
}

#contact-form-text {
  margin: 0;
  width: 100%;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  overflow-wrap: break-word;
}

#contact-form {
  width: 100%;
}

#contact-form-ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  background: #fff;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  border-radius: 5px;
  border: none;
  padding: 15px 16px;
}

#message {
  height: 170px;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  border-radius: 5px;
  border: none;
  padding: 15px 16px;
  font-family: 'Poppins', sans-serif;
}

#btn-contact-form {
  height: 48px;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #fff;
  border-radius: 8px;
  color: #6070ff;
  border: none;
}

#btn-contact-form:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border: 1px solid #fff;
}

#btn-contact-form:active {
  background: #2230d2;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border: 1px solid #fff;
}

#footer {
  height: 35px;
  width: 100%;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #6070ff;
  margin-top: -1px;
}

#black-bar {
  height: 5px;
  width: 134px;
  background: #000;
}
