#about {
  padding-top: 10rem;
  height: 100%;
  background: var(--color-text-muted);
}

#about--container {
  background: var(--color-background);
  border-radius: 0 6rem 0 0;
  padding: 6rem var(--space-m) 10rem var(--space-m);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 60rem) {
  #about--container {
    border-radius: 0 30% 0 0;
    align-items: center;
    padding-top: 10rem;
    padding-left: var(--space-xxxxl);
    padding-right: var(--space-xxxxl);
  }

  #about--container > p {
    width: 50rem;
    font-size: var(--font-size-xl);
  }
}

#about--container-resume-btn {
  margin-top: var(--space-xxxxl);
  margin-bottom: 8rem;
  display: flex;
  justify-content: center;
}

#about--socials {
  margin-top: 0;
  margin-bottom: var(--space-xxxxl);
  display: flex;
  column-gap: var(--space-xl);
}

#about--socials > a {
  text-decoration: none;
  color: var(--color-text-muted);
}

#about--skills-container {
  margin-top: var(--space-xxxxl);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: var(--space-m);
  row-gap: var(--space-xxl);
}

@media (min-width: 60rem) {
  #about--skills-container {
    justify-content: flex-start;
  }
}

.about--skill {
  border-radius: var(--border-radius);
  padding: var(--space-s) var(--space-s);
  height: 100%;
  width: 16rem;
  border: solid 1px var(--color-text-muted);
  display: flex;
  flex-direction: column;
}

.about--skill > h3 {
  font-size: var(--font-size-l);
  font-weight: normal;
  margin-bottom: var(--space-xs);
}

.about--skill-stack {
  margin-top: var(--space-m);
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--space-xs);
  row-gap: var(--space-xs);
}

.about--skill-stack > span {
  font-size: var(--font-size-m);
  border: solid 1px var(--color-text-muted);
  border-radius: var(--border-radius);
  padding: var(--space-xxxs) var(--space-xs);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 60rem) {
  .about--skill-stack > span {
    font-size: var(--font-size-s);
  }
}
