#about {
  padding-top: 10rem;
  height: 100%;
  background: var(--color-text-muted);
}

#about--container {
  background: var(--color-background);
  border-radius: 0 6rem 0 0;
  padding: 6rem var(--space-m) 10rem var(--space-m);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 60rem) {
  #about--container {
    border-radius: 0 30% 0 0;
    align-items: center;
    padding-top: 10rem;
    padding-left: var(--space-xxxxl);
    padding-right: var(--space-xxxxl);
  }

  #about--container > p {
    width: 50rem;
    font-size: var(--font-size-xl);
  }
}

#about--container-resume-btn {
  margin-top: var(--space-xxxxl);
  margin-bottom: 8rem;
  display: flex;
  justify-content: center;
}

#about--socials {
  margin-top: 0;
  margin-bottom: var(--space-xxxxl);
  display: flex;
  column-gap: var(--space-xl);
}

#about--socials > a {
  text-decoration: none;
  color: var(--color-text-muted);
}

#about--skills-container {
  margin-top: var(--space-xxxxl);
  margin-bottom: var(--space-xxxxl);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  gap: var(--space-xxxxl);
  width: 80vw;
  max-width: 70rem;
}

@media screen and (min-width: 60rem) {
  #about--skills-container {
    gap: var(--space-m);
  }
}

.about--skill {
  border-radius: var(--border-radius);
  padding-top: var(--space-xxxxl);
  padding-bottom: var(--space-l);
  padding-left: var(--space-m);
  padding-right: var(--space-m);
  width: 80vw;
  max-width: 30rem;
  background: var(--color-muted-background);
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about--skill > h3 {
  font-size: var(--font-size-l);
  font-weight: normal;
}

.about--skill-stack {
  margin-top: var(--space-m);
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--space-xs);
}

.about--skill-stack > span {
  font-size: var(--font-size-m);
  border-radius: var(--border-radius);
  padding: var(--space-xxxs) var(--space-xs);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-pill-background);
}

@media screen and (min-width: 60rem) {
  .about--skill-stack > span {
    font-size: var(--font-size-s);
  }
}
