@media (prefers-color-scheme: dark) {
  /* styles for dark mode */
  body {
    background-color: black;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  /* styles for light mode */
  body {
    background-color: white;
    color: black;
  }
}
