.parallax {
  border: solid green;

  /* The image used */
  background-image: url('background.jpg');
  z-index: 1000;

  /* Set a specific height */
  min-height: calc(100vh - 4rem);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
